@tailwind base;
@tailwind components;
@tailwind utilities;

/* GRADIENT */
/* bg-gradient-to-b from-scarlet-400 to-scarlet-500 */

body,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background-image {
  background-image: url(./assets/background.svg);
  background-size: cover;
  background-position: center;
}


input::placeholder {
    color: #6e6e6e; /* Custom gray color for placeholder text */
}

/* nav-bar */
@media (max-width: 570px) {
  .restaurant-heading {
    display: none;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .restaurant-card-parent {
    gap: 3%;
    justify-content: space-evenly;
  }
  .restaurant-card {
    display: flex;
    flex-basis: 22%;
    margin-bottom: 1rem;
  }
}

/* HomePage */
@media (max-width: 950px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
  .hero-1 {
    max-height: 200px;
  }
  .hero-img {
    background-size: cover;
    height: 200px;
  }
  .restaurant-card-parent {
    gap: 3%;
    justify-content: space-evenly;
  }
  .restaurant-card {
    display: flex;
    flex-basis: 30%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 720px) {
  .restaurant-card-parent {
    gap: 3%;
    justify-content: space-evenly;
  }
  .restaurant-card {
    display: flex;
    flex-basis: 40%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 770px) {
  .rest-frm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
  }
  .rest-frm > div {
    display: flex;
    width: 100%;
  }
  .parent-cards-hp {
    display: flex;
    flex-direction: column;
  }
}

/* Restaurant Page */
@media (max-width: 515px) {
  .restaurant-card {
    display: flex;
    flex-basis: 80%;
  }
  .signup {
    display: flex;
    flex-basis: 50%;
  }
  .rest-frm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rest-frm > div {
    display: flex;
    width: 100%;
  }
  .signup-form {
    display: flex;
    flex-basis: 100%;
  }
  .login-input-div {
    display: flex;
    justify-content: center;
  }

  .login-div {
    display: flex;
    width: 85%;
  }

  .login-input {
    display: flex;
    width: 85%;
  }

  .rest-header {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}

@layer base {
  /* html element goes here */
  body {
    @apply font-inter;
  }
  button {
    /* making this applicable */
    @apply bg-scarlet-400 font-inter font-normal hover:bg-scarlet-500  transition duration-300 border-e-slate-50 bg-gradient-to-b px-1 py-1 text-white rounded;
  }
  input {
    @apply focus:outline-none border border-stone-300 font-inter rounded-md md:rounded-lg py-1.5 px-2 sm:py-1.5 sm:px-2 text-[14px] text-stone-600 sm:text-base /*invalid:border-red-400*/;
  }

  textarea {
    @apply resize-y border border-stone-300 font-inter font-light rounded-md py-1.5 px-2 w-full max-w-2xl h-32 focus:outline-none  focus:ring-blue-500 focus:border-transparent focus:ring-1;
  }

  select {
    @apply p-0 m-0 rounded font-inter font-normal text-xs border;
  }

  option {
    @apply text-sm py-1.5 px-2 sm:text-base;
  }

  h1 {
    @apply text-3xl;
  }
}
